.heda {
    cursor: auto;
}

.bod {
    line-height: inherit;
    margin: 0;
}

.im,
.sv {
    display: block;
}

.im {
    height: auto;
    max-width: 100%
}

.c-titleAnimation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.c-titleAnimation._vertical_ {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%
}

.c-titleAnimation__textImageInner {
    -webkit-animation: loop 40s linear infinite;
    animation: loop 40s linear infinite;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
}

.c-titleAnimation._reverse_ .c-titleAnimation__textImageInner {
    animation-direction: reverse
}

.c-titleAnimation._vertical_ .c-titleAnimation__textImageInner {
    -webkit-animation: loopVertical 40s linear infinite;
    animation: loopVertical 40s linear infinite
}

.c-titleAnimation__textImage {
    max-width: none;
    width: 100%
}

.c-titleAnimation:not(._vertical_) .c-titleAnimation__textImage {
    width: auto
}

@-webkit-keyframes loop {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}

@keyframes loop {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}

@-webkit-keyframes loopVertical {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
}

@keyframes loopVertical {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
}

.l-top__svgPath {
    height: 0
}

.l-topMv {
    position: relative;
    z-index: 1;
    overflow-y: hidden;
}

.l-topMv:after {
    aspect-ratio: 1500/380;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0px;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    width: 102%;
}

.l-topMv__TextContentsArea {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2
}

.l-topMv__ScrollAnimation {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 4.4791666667%
}

.l-topMv__Carousel {
    padding-bottom: 12vw;
    padding-top: 22.6666666667vw;
    position: relative
}

.l-topMv__CarouselImage {
    max-width: none;
    pointer-events: none;
    width: 100%
}

.l-topMv__LogoInner {
    left: 6.4%;
    position: absolute;
    top: 4.4vw;
    z-index: 2
}

.l-topMv__Logo {
    width: 46.1333333333%
}

.l-topMv__CopyInner {
    left: 5.4666666667%;
    position: absolute;
    top: 62.6666666667vw;
    z-index: 2
}

.l-topMv__Copy {
    max-width: none;
    width: 12vw
}

.u-overflow-x-hidden {
    overflow-x: hidden;
}

@media (min-width:768px) {
    .c-titleAnimation._share_ .c-titleAnimation__textImage {
        height: 7.4362974519vw
    }

    .l-topMv:after {
        display: none
    }

    .l-topMv__TextContents {
        position: relative
    }

    .l-topMv__ScrollAnimation {
        display: block
    }

    .l-topMv__Carousel {
        margin-left: auto;
        max-width: 70.6770833333%;
        padding-bottom: 0;
        padding-left: 0;
        padding-top: 0
    }

    .l-topMv__LogoInner {
        left: auto;
        margin-top: 5.1041666667%;
        position: static;
        top: auto
    }

    .l-topMv__Logo {
        display: block;
        margin-left: 13.75%;
        width: 25.8854166667%
    }

    .l-topMv__CopyInner {
        left: auto;
        margin-top: 3.6458333333%;
        position: relative;
        top: auto
    }

    .l-topMv__Copy {
        display: block;
        margin-left: 10.2083333333%;
        width: 30.9375%
    }
}